name: CI (GBS Player)

on:
  pull_request:
    branches: [gbs-player]
  push:
    branches: [gbs-player]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  flutter:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Fetch Flutter version (.fvmrc)
        run: |
          FLUTTER_VERSION=$(jq -r '.flutter' .fvmrc)
          echo "FLUTTER_VERSION=${FLUTTER_VERSION}" >> "$GITHUB_ENV"

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: "17"
          cache: gradle

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: ${{ env.FLUTTER_VERSION }}
          cache: true

      - name: Flutter version
        run: flutter --version

      - name: Install deps
        run: flutter pub get

      - name: Analyze
        run: flutter analyze

      - name: Build Android APK (debug)
        run: flutter build apk --debug --flavor production

      - name: Build Web (release)
        run: flutter build web --release
